<mat-toolbar color="primary">
  <span>Clientbiz Angular</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button id="googleBtn" *ngIf="!isLoggedIn()" mat-menu-item (click)="loginWithGoogle()">
      <mat-icon>portrait</mat-icon>Login with Google
    </button>
    <button *ngIf="isLoggedIn()" (click)="openUserProfile()" mat-menu-item>
      <mat-icon>portrait</mat-icon>User Profile
    </button>
    <button *ngIf="isLoggedIn()" mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>
