<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Clientbiz Angular</span>
    <span class="example-fill-remaining-space"></span>
    <button id="navMenu" class="menuIconButton" *ngIf="isLoggedIn()" mat-icon-button [matMenuTriggerFor]="createMenu">
      <mat-icon>business</mat-icon>
    </button>
    <button id="userMenu" class="menuIconButton" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #createMenu="matMenu">
      <button mat-menu-item [routerLink]="['/clients']">
        <mat-icon>format_list_bulleted</mat-icon>Clients
      </button>
      <button mat-menu-item [routerLink]="['/receivables']">
        <mat-icon>payment</mat-icon>Payments
      </button>
      <button mat-menu-item [routerLink]="['/reports/monthly-activity']">
        <mat-icon>date_range</mat-icon>Monthly Activity
      </button>
      <button mat-menu-item [routerLink]="['/client']">
        <mat-icon>person_add</mat-icon>New Client
      </button>
      <button mat-menu-item [routerLink]="['/appointment']">
        <mat-icon>playlist_add</mat-icon>New Appointment
      </button>
    </mat-menu>
    <mat-menu #menu="matMenu">
      <button id="googleBtn" *ngIf="!isLoggedIn()" mat-menu-item (click)="loginWithGoogle()">
        <mat-icon>portrait</mat-icon>Login with Google
      </button>
      <button id="btnProfile" name="btnProfile" *ngIf="isLoggedIn()" (click)="openUserProfile()" mat-menu-item>
        <mat-icon>portrait</mat-icon>User Profile
      </button>
      <button id="btnLogout" *ngIf="isLoggedIn()" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
