<form name="form" (ngSubmit)="clientForm.form.valid && saveClient()" #clientForm ="ngForm">
    <div *ngIf="client" style="padding: 10px">
    <mat-form-field *ngIf="client.id" class="client-full-width">
      <input matInput placeholder="ID" value="{{client.id}}" />
    </mat-form-field>
    <mat-form-field class="client-full-width">
        <input id="firstName" matInput name="firstname" placeholder="First name" [(ngModel)]="client.firstname" required />
    </mat-form-field>
    <mat-form-field class="client-full-width">
        <input matInput name="lastname" placeholder="Last name" [(ngModel)]="client.lastname" required />
    </mat-form-field>
    <mat-form-field class="client-full-width">
      <mat-label>Topics</mat-label>
      <mat-select [(value)]="client.assigned_topics" multiple required>
        <mat-option id="topic_{{topic.id}}" *ngFor="let topic of topics" [value]="topic.id">
          {{topic.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="client-full-width">
        <input matInput name="contactname" placeholder="Contact name" [(ngModel)]="client.contactname" />
    </mat-form-field>
    <mat-form-field class="client-full-width">
        <input matInput name="city" placeholder="City" [(ngModel)]="client.city" required />
    </mat-form-field>
    <mat-form-field class="client-full-width">
        <input matInput placeholder="State" name="state" [(ngModel)]="client.state" required />
    </mat-form-field>
    <mat-form-field class="client-full-width">
        <input matInput placeholder="Timezone" name="timezone" [(ngModel)]="client.timezone" required />
    </mat-form-field>
    <mat-checkbox  id="solicited" class="client-full-width" name="solicited" [(ngModel)]="client.solicited" [checked]="client.solicited===true" labelPosition="before" (click)="toggleFirstContact()">
      <mat-label>Solicited</mat-label>
    </mat-checkbox>
    <mat-form-field class="client-full-width">
        <input id="firstcontact" matInput type="datetime-local" name="firstcontact" [ngModel]="client.firstcontact | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="client.firstcontact = $event" [disabled]="!(!!client.firstcontact)" placeholder="First contacted" />
    </mat-form-field>
    <mat-form-field class="client-full-width">
        <input matInput type="datetime-local" name="firstresponse" [ngModel]="client.firstresponse | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="client.firstresponse = $event" placeholder="First responded" required />
    </mat-form-field>
    <button mat-raised-button color="primary" id="submit">Submit</button>
  </div>
</form>
