<form [formGroup]="clientForm" (ngSubmit)="clientForm.valid && saveClient()">
    @if (client) {
        <div style="padding: 10px">
            <mat-form-field *ngIf="client.id" class="client-full-width">
                <input matInput placeholder="ID" formControlName="id" />
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <input id="firstName" matInput formControlName="firstname" placeholder="First name" required />
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <input matInput formControlName="lastname" placeholder="Last name" required />
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <mat-label>Topics</mat-label>
                <mat-select formControlName="assigned_topics" multiple required>
                    @for (topic of topics; track $index) {
                        <mat-option id="topic_{{topic.id}}" [value]="topic.id">
                            {{topic.name}}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <input matInput formControlName="contactname" placeholder="Contact name" />
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <input matInput formControlName="city" placeholder="City" required />
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <input matInput placeholder="State" formControlName="state" required />
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <input matInput placeholder="Timezone" formControlName="timezone" required />
            </mat-form-field>
            <mat-checkbox id="solicited" class="client-full-width" formControlName="solicited" labelPosition="before" (click)="toggleFirstContact()">
                <mat-label>Solicited</mat-label>
            </mat-checkbox>
            <mat-form-field class="client-full-width">
                <input id="firstcontact" matInput type="datetime-local" formControlName="firstcontact" placeholder="First contacted" />
            </mat-form-field>
            <mat-form-field class="client-full-width">
                <input matInput type="datetime-local" formControlName="firstresponse" placeholder="First responded" required />
            </mat-form-field>
            <button mat-raised-button color="primary" id="submit">Submit</button>
        </div>
    }
</form>